@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: .25em 0;
  text-transform: uppercase;
  /*color: white;*/
  color: black;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 1em;
  /*text-align: center;*/
  list-style-type: none;
}

/*  TYPOGRAPHY  */
/* font-color-a само в светлите секции */
p {
  color: #637485;
  line-height: 1.60em;
}

/*  подзаглавията под големите заглавия имат този цвят */
h3,
h4 {
  color: #00a6d9;
}

/*  Layout  */
main {
  max-width: 50%;
  height: auto;
  padding: 1em;
  margin: auto;
}
/*

#services {
  padding: 1em;
}

#projects {
  padding: 1em;
}

#contact {
  padding: 1em;
}
*/

#services h2:after {
  display: block;
  content: '';
  width: 2em;
  height: 3px;
  margin-top: 0.1em;
  background-color:red;
}

/*  Layout  */
label, textarea {
  display: block;
}
textarea {
  margin-top: 2em;
  outline: none;
  padding: 1em;
}
button {
  border: none;
  padding: 1em;
  background-color: #333;
  color: white;
  display: block;
}

input[type='text'] {
  width: 100%;
  padding: 1em;
  outline: none;
  border: none;
  border-bottom: 2px solid #637485;
}

/* elements */
#about h2:after {
  content: '';
  display: block;
  width: 2em;
  height: 3px;
  margin-top: 0.1em;
  background-color:red;
}

#contact h2:after {
  display: block;
  content: '';
  width: 2em;
  height: 3px;
  margin-top: 0.1em;
  background-color:red;
}

#projects h2:after {
  display: block;
  content: '';
  width: 2em;
  height: 3px;
  margin-top: 0.1em;
  background-color:red;
}
/*
#form {
  margin: 1em 0;
}
*/
#projects li {
  margin: 3em 0;
}

@media (min-width: 320px) and (max-width: 425px) {
  main {
    max-width: 90%;
    /*background-color: red;*/
  }
  #services,
  #projects,
  #contact {
    margin: 3em 0;
  }
}


img {
  width: 100%;
}