* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  font-family: 'Roboto', sans-serif;
}
aside{
  width: 25%;
  height: 100vh;
  padding: 1.5em;
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
aside div{
  display: flex;
  margin: 10px 0;
}
img{
  width: 20px;
  margin-right: 5px;
}
a{
  text-decoration: none;
  color: blue;
}
main{
  width: 75%;
  /* padding: 20px 50px; */
  padding: 1.5em;
  background-color: #fafbfc;
}
section {
  display: grid;
  /* padding: 50px; */
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
section div {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  aside,
  main {
    width: 100%;
    height: auto;
    padding: 20px;
    border-right: 0;
  }
}