* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1em
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: .25em 0;
  text-transform: uppercase;
}

p {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin: 5px 0;
}

span {
  display: block;
  text-align: center;
}